<div class="card" style="width: 18rem; margin-bottom: 30px;" id="<%= dom_id student %>">
  <div class="card-header">
    <b>Student</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name : <%= student.name %></li>
    <li class="list-group-item">Gender : <%= student.gender %></li>
    <li class="list-group-item">Date of birth : <%= student.date_of_birth %></li>
  </ul>
</div>
